html, body {
    margin: 0;
    padding: 0;
}

#scoreboard {
  background: white;
  border: 1px solid #999999;
  border-top: 0px;
  display: none;
  height: 90px;
  padding: 4px;
  position: fixed;
  right: 0px;
  top: 0px;
  width: 170px;
}

#instruction, #game-over {
  background: #bfbf44;
  border: 1px solid #999999;
  display: none;
  padding: 8px;
  color: #420808;
  position: absolute;
}
